*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  
}

.header {
  background: #006400 ;
  height: 75vh;
 // clip-path: polygon(100% 84%, 89% 79%, 75% 77%, 63% 78%, 46% 83%, 23% 91%, 11% 93%, 0 91%, 0 0, 100% 0);
  position: relative;
 // z-index: -1; 
}


.img-fcc{
  position: absolute;
  top:180px;
  left: 700px;
  
}

.fcc{
  height: 350px;
  width:  550px;
  border-radius: 10px;

}

.heading-container{
  position: absolute;
  width:400px;
  top: 40%;
  left: 15%;
  background-color:#006400;
}

.heading-primary{
 color: #fff;   
 //block elements occupy the entire width
}

.heading-primary-main{
  display: block;
  font-size: 40px;
  font-weight: 700;
  
}
.heading-primary-sub{
  display: block;
  font-size: 15px;
  font-weight:370;
  margin-bottom: 30px;
}

a{
 font-size: 11px;
}

.btn:link,
.btn:visited{
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  display: inline-block;
 
}

.btn-white{
  background-color: white;
  color:green;
}


#wave{
  position:absolute;
  top:370px;
  bottom: 0;
  width: 100%;
}

#defs2{
 bottom:0;
 width: 100%;
 position:absolute;
}
